


#head{
	height: 300px;
	padding-top: 66px;

}

#head h1 {
    font-size: -webkit-xxx-large;
}

#head a {
    font-size: initial;
    padding: 10px 60px 10px 60px;

    padding: initial;
    display: block;
    margin-left: 10%;
    width: 80%;
    height: 40px;
    margin-bottom: 5px;


    line-height: 40px;

}

@keyframes headerHeight {
    from {margin-top: -20px;}
    to {margin-top: 300px;}
}

#content{
	margin-bottom: 24px;
	padding-top: 8px;

}

article{
    width: 100%;
}

article > *{
    margin-left: 8px;
    margin-right: 8px;
}
