html{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #EA142C;
}

body{
	margin: 0;
	padding: 0;
}

.profileImage{
	width: 164px;
	height: 164px;
	max-width: 164px;
	max-height: 164px;
	background-image: url("../img/profileImg_opt.jpg");
	background-size: 100% 100%;
  	background-repeat: no-repeat;
	margin: auto;
	margin-top: 20px;
	border-radius: 50%;
	background-color: #EA142C;
	transition: all 500ms ease;
	border: 1px solid white;
}

#content{
  position:fixed;
  top:0;
	color: #FFFFFF;
	width: 100%;
	height: 250px;
	padding-top: 100px;
	text-align: center;
}

#content h1{
	padding: 0;
	margin: 0;
	font-size: 5rem;
	display: inherit;
	color: white;
	transition: all 500ms ease;
}

#content a{
	width: auto;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #FFFFFF;
	background: #EA142C;
	border: 1px solid #FFFFFF;
	font-size: 14px;
	padding: 8px 28px 8px 28px;
	text-decoration: none;
	transition: all 200ms ease;

}

#content a:hover{
	background: #FFFFFF;
	color: #000000;
  text-decoration: none;
}

#content a:focus{
	outline-color: #FFFFFF;
	background: #FFFFFF;
	color: #000000;
  text-decoration: none;
}

h1{
	font-weight: 800;
	font-size: 34px;
	color: #EA142C;
	margin-bottom: 0px;
	margin-left: -6px;
}
