html{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	margin: 0;
	padding: 0;
}

.profileImage{
	width: 164px;
	height: 164px;
	max-width: 164px;
	max-height: 164px;
	background-image: url("../img/profileImg.jpg");
	background-size: 100% 100%;
  	background-repeat: no-repeat;
	margin: auto;
	margin-top: 20px;
	border-radius: 50%;
	background-color: #EA142C;
}

ul{
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
	border-right: 1px solid black;
	display: inline;
	padding: 5px;
}

li:nth-child(1){
	border-left: 1px solid black;
}

main{
	position:absolute;
    height:100%;
    width:100%;
}

#head{
	background:#EA142C;
    position:fixed;
    color:red;
    top:0;
	width: 100%;
	height: 250px;
	padding-top: 100px;
	background-color: #EA142C;
	text-align: center;
	text-transform: uppercase;
}

#head h1{
	padding: 0;
	margin: 0;
	font-size: 5rem;
	display: inherit;
	color: white;
	transition: all 500ms ease;
}

#head a{
	width: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #FFFFFF;
    background: #EA142C;
	border: solid #FFFFFF 1px;
    font-size: 14px;
    padding: 8px 28px 8px 28px;
    text-decoration: none;
    transition: all 500ms ease;
}

#head a:hover{
	background: #FFFFFF;
	color: #000000;
    text-decoration: none;
}

#head a:focus{
	outline-color: #FFFFFF;
	background: #FFFFFF;
	color: #000000;
    text-decoration: none;
}

.panels {
    position:relative;
    width:100%;
}

#content{
   	margin-top:300px;
	margin-bottom: 80px;
	padding-top: 8px;
	/*padding-bottom: 8px;*/
	color: #4B494B;
   	background:white;
   	/*box-shadow: 0 -6px 4px -6px grey;*/
	box-shadow: 0px -6px 4px -6px gray, 0px 6px 4px -6px gray;
}

#content a:link {
    color: #FF142E;
    text-decoration: none;
}

#content a:visited {
    color: #FF142E;
    text-decoration: none;
}

#content a:hover {
    color: #4B494B;
    text-decoration: none;
}

#content a:active {
    color: #000;
}

#knowledge{
	/*padding-left: 20px;*/
}

article{
	width: 500px;
	margin: auto;
}

h1{
	font-weight: 800;
	font-size: 34px;
	color: #EA142C;
	margin-bottom: 0px;
	margin-left: -6px;
}


h2{
	font-weight: 800;
	font-size: 24px;
	color: #EA142C;
	margin-bottom: 0px;
	display: initial;
}

h3{
	font-weight: 800;
	color: #EA142C;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#fot{
    position:fixed;
    bottom:0;
	width: 100%;
	z-index: -1;

}

footer{
	height: 80px;
	font-size: 12px;
	text-align: center;
	padding: 4px;
	color: #FFFFFF;
	background-color: #EA142C;
}

footer span{
	position: fixed;
	bottom: 4px;
	left: 46%;
	font-size: 12px;
	color: #FFFFFF;
}

#project{

}

.project{
	margin-bottom: 8px;
	margin-top: 8px;
	padding: 4px;
	border-left: 1px solid #4B494B;
	color: black;
}

.project p, span{
	color: #4B494B;
}


.project h1{
	border: 1px solid white;
}

#pageRocket{

}
