::selection { background: transparent; }
::-moz-selection { background: transparent; }


#mixing-palette{
    width: 100%;
    height: 100px;
}

html, body{
    margin: 0;
    padding: 0;
}

.main {
    background-color:white;
    overflow: hidden;

    /*-webkit-transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in;
    -ms-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in;*/
}

@keyframes colorChange {
    0% {
        border-radius: 50%;

    }
    90%{
        border-radius: 0%;
        /*opacity: 0.7;*/
    }
    99%{

    }

    100% {
        width:100%;
        height: 100%;
        /*opacity: 0.1;*/
    }
    to{

    }
}

@-webkit-keyframes example {
    0% {
        border-radius: 50%;
    }
    90%{
        border-radius: 0%;
    }
    100% {
        width:100%;
        height: 100%;
    }
}



.menu {
    width: 100%;
    height: 200px;
}

.colorWrap{
    width:100%;
    height:100%;
    box-shadow: 3px 3px 2px -2px rgba(0, 0, 0, 0.4);

}
.colorChange{
    border-radius: 0%;
    width: 40px;
    height: 40px;

    -webkit-animation: colorChange 0.4s ease forwards;
    animation: colorChange 0.4s ease forwards;
}

.list {
    list-style-type:none;
    padding:0;
    margin:0;
}
.list li {
    height: 90px;
    line-height: 60px;
}

li{
    float: left;
    display: inline;
    width: 20%;
}

.ball {
    border-radius: 50%;
    position: absolute;
    box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, 0.4);
}

.ballAnim{
    -webkit-animation: example 0.6s ease forwards;
    animation: example 0.6s ease forwards;
}

@keyframes example {
    60% {
        left: 20px;
    }
    100% {
        left: 0px;
        top:0px;
    }
}

@-webkit-keyframes example {
    60% {
        left: 20px;
    }
    100% {
        left: 0px;
        top:0px;
    }
}
